input,
textarea {
  width: 100%;
  background-color: #53585D;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

input {
  min-height: 40px;
  padding: 10px;
}


input::placeholder,
textarea::placeholder{
  color: #AAA;
}

textarea{
    min-height: 100px;
    padding: 10px;
}
/* @media (max-width: 800px) {
  input,
  textarea {
    width: 10vh;
  }
} */